@CHARSET "UTF-8";

@CHARSET "UTF-8";

textarea, input{
    color: #888;
    width: 66%;
    padding: 0px 0px 0px 5px;
    border: 1px solid RoyalBlue;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 180px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}

button{
    padding: 10px 30px 10px 30px;
    background: RoyalBlue;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    
}


body { 
  background: cadetblue url('bg.gif');
  background-repeat: repeat-x;
  margin: 0; 
  border: solid 3px white; 
}


#outline{

}
#puzzleTop span {

  background-color: RoyalBlue;
  float:right;
  margin: 5px;
  overflow: hidden;
   padding: 100px 0 0 0;
  width: 100px;
  z-index: 200;
}

 #puzzleTop {
  position: absolute;
 right:450px;
 height : 339px;
 width : 339px;

 
}
#rightTop{
	position: absolute;
  right: 368px;
  top: 30px;

}

#count_state{
	font-size:72px;
  width: 50px;
  height: 80px;
}


#rightBot {
	
  position: absolute;
  right: 270px;
  top: 148px;


}
#leftBot {
	
  position: absolute;
  right: 590px;
  top: 350px;


}

/* #puzzle #a {
 background-color: yellow;
}
#b{
 background-color: yellow;
} */