@CHARSET "UTF-8";

@CHARSET "UTF-8";

input[type="text"] {
    color: #888;
    width: 20%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
textarea {
    color: #888;
    width: 100%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 100%;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}

button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    
}


body { 
  background: cadetblue url('bg.gif');
  background-repeat: repeat-x;
  margin: 0; 
}


#outline{
  /* border: solid 1px red; */
}
#puzzle span {
/*  border : solid 1px blue; */
  background-color: black;
  float:left;
  
  
  margin: 5px;
  overflow: hidden;
   padding: 100px 0 0 0;
  width: 100px;
  z-index: 200;
}

 #puzzle {
 position: relative;
/*  border : solid 1px red; */
 height : 339px;
 width : 339px;
 margin: 0 auto;
 
}

#rightUI {
  position: absolute;
  right: 200px;
  top: 30px;


}

/* #puzzle #a {
 background-color: yellow;
}
#b{
 background-color: yellow;
} */