@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

textarea, input{
	  font: 200 25px Hanna, Helvetica, sans-serif;
    color: MidnightBlue;
    width: 43%;
    padding: 0px 0px 0px 5px;
    border: 1px solid RoyalBlue;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    height: 180px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
    border-radius: 11px;
}

button{
    padding: 10px 30px 10px 30px;
    background: RoyalBlue;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    width: 200px;
    height: 100px;
    border-radius: 11px;
    font: 36px Hanna, Helvetica, sans-serif;
    
}

body { 
  background: cadetblue url('bg.gif');
  background-repeat: repeat-x;
  margin: 0; 
 
  
}

#outline{

}
#puzzleTop span {
  border-radius: 11px;
  background-color: RoyalBlue;
  float:left;
  margin: 5px;
  overflow: hidden;
   padding: 100px 0 0 0;
  width: 100px;
  z-index: 200;
}

 #puzzleTop {
  position: absolute;
 top : 70px;
 right:450px;
 height : 330px;
 width : 330px;
}
#rightTop{
	position: absolute;
  right: 372px;
  top: 93px;

}

#count_state{
	font-size:72px;
  width: 50px;
  height: 80px;
}

#rightBot {
	
  position: absolute;
  right: -13px;
  top: 212px;
}
#leftBot {
	
  position: absolute;
  right: 575px;
  top: 420px;
}
